
footer{
	background-color: #00334e;
}

.footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color:white;
}
.footer div{
	margin: auto 40px 40px;
}

.footer h3{
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 25px;
	text-align: center;
}

.footer p{
	font-family: 'Karla', sans-serif;
	font-size: 20px;
}

.fa {
	padding: 20px;
	font-size: 30px;
	width: 70px;
	text-align: center;
	text-decoration: none;
	margin: auto auto;
  }

  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

footer .marca{

	text-align: center;
	color: white;
	padding: 30px;
}