#map{
	width: 100%;
    height: 350px;
    justify-items: center;
}

#map-section .container {
    margin-bottom: 100px;
}

#map-section h2{
    font-family: 'Oswald', sans-serif;
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 2.5rem;
}

#map-section p{
    text-align: left;
    font-family: 'Karla', sans-serif;
    font-size: 1.44rem;
}




