.parallax{
    height: 200px;
    background: fixed;
    background-image: url(/img/ballena.jpeg) ;
    background-repeat: no-repeat;
    background-size:cover;

}

@media screen and (max-width: 992px){
    .parallax{
        height: 0;
    }
}