.tour{

    background-color: #007fbd;
    padding-bottom: 90px;
}


.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;

}

.cards div{
    color:white;
    width: 25rem;
    height: 27.5rem;
    background-color :#004d73;
    margin: 15px;
}

.tour h3{
    font-family: 'Oswald', sans-serif;
    min-width: 80%;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 1.4rem;
}

.tour h2{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 2.5rem;
}

.tour p{
    font-family: 'Karla', sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 1.56rem;
}



.cards div{
    transition: 0.5s;
}

.cards img{
    width: 100%;
    height: 300px;
}

.cards :hover{
    transform: scale(1.05);
	box-shadow: 4px 4px 0 0 rgba(2,0,0,0.35) ;
}

@media screen and (max-width: 992px){
    .cards div{
        height: 23rem;
    }
}