.tour{

    background-color: #007fbd;
    padding-bottom: 90px;
}


.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;

}

.cards div{
    flex-shrink: 3;
    color:white;
    width: 300px;
    height: 400px;
    background-color :#004d73;
    margin: 10px 10px 50px 50px;
    

}

.tour h3{
    
    font-family: 'Oswald', sans-serif;
    min-width: 80%;
    color: white;
    text-align: center;
    padding-top: 50px;
}

.tour h2{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-size: 40px;
}

.tour p{
    font-family: 'Karla', sans-serif;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-left: 90px;
    padding-right: 90px;
    font-size: 25px;
}



.cards div{
    transition: 0.5s;
}

.cards img{
    width: 100%;
    height: 300px;
}

.cards :hover{
    transform: scale(1.05);
	box-shadow: 4px 4px 0 0 rgba(2,0,0,0.35) ;
}

