.contenedorinfo{
	background-color: white;
	overflow: hidden;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contenedorinfo img{
	flex:1;
	width: 70%;
	height: 60%;
	margin-top: 40px;
}

.contenedorinfo p{
	flex:2;
	font-size: 23px;
	text-align: center;
	width: 90%;
	height: 40%;
	padding: 90px;
}

