*{
	margin:0;
	padding: 0;
	scroll-behavior: smooth;
}


.contenedor{
	background-color: white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;


}


.contenedor img{
	width: 150px;
	height: 70px;
	margin-top: 15px;
	margin-left: 40px;


}

.enlaces{
	margin-bottom: 30px; 
	width: 50%;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;

}

.enlaces  a{
	outline: none;
	margin-top: 44px;
	font-size: 19px;
	text-decoration: none;
	color: black;
}


.enlaces a:hover{
	color: #004d73;
}



.fa-bars{
	display: none;
}

@media screen and (max-width: 800px){
	.logo{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.fa-bars{
	 	display: inline;
	 	color : #007fbd;
	}

	.enlaces{
		margin: 0;
		width: 100%;
		display: none;
		background-color: #00334e;
		transition: 0.5s;
		

	}

	.enlaces a{
		margin: 0;
		display: block;
		width: 100%;
		padding: 20px;
		text-align: center;
	}
}
	.enlaces a:hover{
		background-color: white;
		color:#00334e;
	}
}
