*{
	margin:0;
	padding: 0;
	scroll-behavior: smooth;
}


.contenedor{
	background-color: white;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;


}


.contenedor img{
	width: 150px;
	height: 70px;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 40px;


}

.enlaces{
	margin-bottom: 10px; 
	width: 50%;
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-around;

}

.enlaces  a{
	outline: none;
	margin-top: 44px;
	font-size: 19px;
	text-decoration: none;
	color: black;
}


.enlaces a:hover{
	color: #004d73;
}



.fa-bars{
	display: none;
}

.enlaces i{
	margin-top: 19px;
}

.idiomas{
	position: absolute;
	display: none;
	align-content: center;
	direction: column;
	background-color: white;
	right: 89px;
	top: 75px;
	padding-right: 10px;
	width: 150px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  	z-index: 1;

}

.idiomas a{
	display: block;
	align-content: center;
	margin: 0;
	padding-top: 15px;
	padding-bottom: 10px;
	padding-left: 3px;
}




@media screen and (max-width: 800px){
	.logo{
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.fa-bars{
	 	display: inline;
	 	color : #007fbd;
	}

	.enlaces{
		margin: 0;
		width: 100%;
		display: none;
		background-color: #00334e;
		transition: 0.5s;
		

	}

	.enlaces a{
		color:white;
		margin: 0;
		display: block;
		width: 100%;
		padding: 20px;
		text-align: center;
	}

		.idiomas{

		position: absolute;
		align-content: center;
		background-color: white;
		right: 100px;
		top: 330px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  	z-index: 1;
	  	

	}

	.idiomas a{
		background-color: #00334e; 
		margin:0;
		color:white;
	}

	.fa-language{
		color: white;
	}

	.enlaces a:hover{
		background-color: white;
		color:#00334e;
	}

	.enlaces i:hover{
		background-color: white;
		color:#00334e;
	}
}



	





