*{
	margin:0;
	padding: 0;
}

.contenedor{
	width: 100%;
	display: flex;
	align-items: center;

}

.logo{
	flex: 1;
	height: 60%;
	width: 30%;
	margin-left: 5%;
	margin-right: 5%;
}


.logo img{
	padding-top: 10px;
	width: 80%;
	height: 70%;
	
}

.contenedor a{
	flex:2;
	margin-top: 1%;
	font-size: 20px;

}
