.slider{

	overflow: hidden;
	
}

.slider figure{
	display: flex;
	position: relative;
	animation: 15s slider infinite;
	transition: 1s ease;
	width: 300%;
}

.slider img{
	display: flex;
	width: 100%;
}

@keyframes slider{
	0%{
		left: 0;
	}

	30%{
		left: 0;
	}

	35%{
		left: -100%;
	}
	65%{
		left: -100%;
	}

	70%{
		left: -200%;
	}
	100%{
		left: -200%;
	}
}