
.contenedortour{
	overflow: hidden;
	flex-direction: column;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #007fbd;

}

.infoTour{
	top: 10%;
	align-items: center;
	width: 90%;
	left: %;
	text-align: center;
	color:white;

}

.infoTour h2{
	margin-top: 50px;
	flex:1;
	font-size: 40px;
}

.infoTour p{
	margin-top: 20px;
	flex:1;
	font-size: 30px;
}

.cards{
	flex:2;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 60%;
	justify-content: center;	
	margin-top: 60px;


}

.cards div{
	width: 300px;
	height:400px;
	margin-bottom: 30px;
	margin-left: 5%;
	margin-right: 5%;
	background-color: #004d73;
	transition: 0.5s;

}

.cards div h3{
	color:white;
	text-align: center;
	font-size: 20px;
}

.cards div:hover{
	transform: scale(1.05);
	box-shadow: 4px 4px 0 0 rgba(2,0,0,0.35) ;


}


